<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">Movie Zone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="featured">Featured</a>
        <!--<a class="nav-item nav-link" routerLink="movies">Movies</a>
        <a class="nav-item nav-link" routerLink="movie">Movie</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
      </div>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <div class="col-auto">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="inlineFormInputGroup"
                 placeholder="Search movies, TV, actors and more" formControlName="s">
          <div class="input-group-append">
            <!--<div class="input-group-text">Search</div>-->
            <button type="submit" class="btn-primary" [disabled]="!searchForm.valid">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <p>&copy; 2018. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>



